{% extends 'base.html' %}

{% block title %}photo_detail{% endblock %}

{% load staticfiles %}
{%block extrastyle %}{% static 'css/video_detail.css' %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="outer">
			<div class="inner">
				<h2>{{ object.Video_name }}</h2>
				<div class="contents">
					<div class="cards">
						<div class="card">
							<video height="300" controls>
								<source src="{{ object.Video_record_path }}">
							</video>
						</div>
						<form action="{% url 'management:violence' object.id %}" method="post">{% csrf_token %}
							<button class="btn btn-primary"type="submit">It is Violence</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
