<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>{% block title %}TWIS{% endblock %}</title>
	
	<!-- Bootstrap core CSS -->
	<!-- Custom styles for this template -->
	<!--<link href="http://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
	<link rel="stylesheet" href="{% static 'css/management.css' %}">
	<link rel="stylesheet" href="{% block extrastyle %}{% endblock %}" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{% static 'js/ajax.js' %}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'home' %}">TWIS</a>
		</div>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				{% if user.is_active %}
				<li class="nav-item"><a class="nav-link" href=#>Facility</a></li>
				<li class="nav-item"><a class="nav-link" href=#>Users</a></li>
				{% endif %}
			</ul>
			<h6 id="header" class="nav navbar-nav navbar-right">
				Welcome
				{% if user.is_active %}
				,<strong>{% firstof user.get_short_name user.get_username %}</strong> /
				<a href="{% url 'password_change' %}">Change Password</a> /
				<a href="{% url 'logout'%}">Logout</a>
				{% endif %}
			</h6>
		</div>
	</nav>

	{% block content%}
	{% endblock %}
	
	<div id="footer">
		&copy; Team Bomb presents
	</div>
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
<!--	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	-->
</body>
</html>
