{% extends "base.html" %}

{% block title %}TWIS{% endblock %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<div class="container">
		<div class="outer">
			<div class="inner">
				<div class="contents">
					<p id="cards_title" class="row">Please login first</p>
					<div class="row cards">
						{% if user.is_active %}
						<div class="col-sm-5 card">
							<p><a href=#>Welcome!!</a></p>
						</div>
						{% else %}
						<div class="col-sm-5 card">
							<a href="{% url 'login' %}">Login</a>
						</div>
						<div class="col-sm-5 card">
							<a href="{% url 'register'%}">Register</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


