{% extends "base.html" %}

{% block title %}TWIS{% endblock %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
        <div>
            <img src="../static/img/twis.jpg" class="img-circle mx-auto d-block" alt="TWIS">
        </div>
        <div class="row">
            {% if user.is_active %}
            <div class="col-sm-5 card">
                <p><a href=#>Welcome!!</a></p>
            </div>
            {% else %}
            <div class="mx-auto d-block">
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'register'%}">Register</a>
            </div>
            {% endif %}
        </div>
{% endblock %}


