{% extends "base.html" %}

{% block title %}home{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}
<div id="content">
	<div id="homeimg">
		<a href="/"><img src="{% static 'img/main_img.jpg' %}" style="height:256px;"></a>
		<h4 style="margin:0;">This is Django powered web site</h4>
	</div>

	<hr style="margin: 5px 0;">
	<h2>Select Application</h2>

	<table id="applist">
		<tr>
			<td><b><i><a href="{% url 'bookmark:index' %}">Bookmark</a></i></b></td>
			<td>asdfghjkl;asdfghjklasdfghjklasdfghjklasdfghjklzxcvbnmqwertyuiop</td>
			<td class="Edit"><i><a href="#">Add</a></i></td>
			<td class="Edit"><i><a href="#">Change</a></i></td>
		</tr>

		<tr>
			<td><b><i><a href="{% url 'blog:index' %}">Blog</a></i></b></td>
			<td>asdfghjkl;asdfghjklasdfghjklasdfghjklasdfghjklzxcvbnmqwertyuiop</td>
			<td class="Edit"><i><a href="#">Add</a></i></td>
			<td class="Edit"><i><a href="#">Change</a></i></td>
		</tr>
		
		<tr>
			<td><b><i><a href="#">Photo</a></i></b></td>
			<td>asdfghjkl;asdfghjklasdfghjklasdfghjklasdfghjklzxcvbnmqwertyuiop</td>
			<td class="Edit"><i><a href="#">Add</a></i></td>
			<td class="Edit"><i><a href="#">Change</a></i></td>
		</tr>
	</table>
</div>
{% endblock %}

{% block footer %}
<div id="footer">
	&copy; jsGon
</div>
{% endblock footer %}
