{% extends 'base.html'%}

{% block title %}post_all{% endblock %}

{% block content %}
<div id="content">
	<h1>Blog list</h1>

	{% for post in posts %}
		<h2><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
		{{ post.modify_date|date:"N d, Y" }}
		<p>{{ post.description }}</p>
	{% endfor %}

	<br/>

	<div>
		<span>
			{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
			{% endif %}

			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Next Page</a>
			{% endif %}
		</span>
	</div>
</div>
{% endblock %}
