{% extends 'base.html' %}

{% block title%}password_change_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/change_password.css" %}{% endblock %}

{% block content %}
	<div class="container">
		<form class="form-set" action="." method="post">
			{% csrf_token %}
			<h2>{{ title }}</h2>
			{% if form.errors %}
			<p class="errornote">Wrong!! Please correct the error(s) below</p>
			{% endif %}

			<p>Please enter your old password, and then enter your new password twice.</p>
			{% load widget_tweaks %}
			<fieldset class="aligned">
				<div class="form-login-register">
					{{ form.old_password.label_tag }} 
					{{ form.old_password|add_class:"input_password" }}
				</div>
				<div class="form-login-register">
					{{ form.new_password1.label_tag }} 
					{{ form.new_password1|add_class:"input_password" }}
				</div>
				<div class="form-login-register">
					{{ form.new_password2.label_tag }}
					{{ form.new_password2|add_class:"input_password" }}
				</div>

			</fieldset>

			<div class="submit-row">
				<button class="btn" type="submit" value="Password Change"/>Change Password</button>
				<input type="hidden" name="next" value="" />

				<!--<input type="submit" value="Password Change" />-->
			</div>

			<script type="text/javascript">
				document.getElementById("id_old_password").focus();
			</script>
		</form>

	</div>
{% endblock %}
