{% extends 'base.html' %}

{% block title%}password_change_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
	<div id="content">
		<h1>{{ title }}</h1>

		<form action="." method="post">
			{% csrf_token %}
			{% if form.errors %}
			<p class="errornote">Wrong!! Please correct the error(s) below</p>
			{% endif %}

			<p>Please enter your old password, and then enter your new password twice.</p>

			<fieldset class="aligned">
				<div class="form-row">
					{{ form.old_password.label_tag }} {{ form.old_password }}
				</div>
				<div class="form-row">
					{{ form.new_password1.label_tag }} {{ form.new_password1 }}
				</div>
				<div class="form-row">
					{{ form.new_password2.label_tag }} {{ form.new_password2 }}
				</div>

			</fieldset>

			<div class="submit-row">
				<input type="submit" value="Password Change" />
			</div>

			<script type="text/javascript">
				document.getElementById("id_old_password").focus();
			</script>
		</form>

	</div>
{% endblock %}
