body {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 12px;
}

div#header {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	display: table;
	background: orange;
}

div#menu {
	position: absolute;
	top: 30px;
	left: 0px;
	height: 20px;
	width: 100%;
	display: table;
	table-layout: fixed;
	border-spacing: 40px 0px;
	background: #ffa;
	font-size: 8px;
}

div#content {
	position: absolute;
	top: 70px;
	left: 50px;
	right: 50px;
}

div#footer {
	position: absolute;
	bottom: 20px;
	left: 50px;
	right: 50px;
	height: 30px;
	border-top: 1px solid #ccc;
#	background-color: red;
}

.maintitle {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	color: #ffc;
	font-weight: bold;
	font-size: 16px;
}

.welcome {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right: 20px;
	color: #ffc;
	font-weight: normal;
	font-size: 12px;
}

.welcome a:link, .welcome a:visited {
	color: white;
}

div#menu a:link, div#menu a:visited{
	color: #36c;
}

div#menu > li {
	display: table-cell;
	vertical-align: middle;
	border: 2px solid #bbb;
	border-radius: 25px;
	text-align: center;
	font-weight: bold;
}

div#menu li ul {
	display: none;
	position: absolute;
	margin: 0;
	padding: 10px 10px 5px 10px;
	list-style: none;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: white;
	z-index: 1;
	text-align: center;
}

div#menu li:hover ul {
	display: block;
}

a:link, a:visited{
	color: #369;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
}

td, th {
	line-height: 18px;
	border-bottom: 1px solid #eee;
	vertical-align: top;
	padding: 5px 15px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
